@import "@/styles/globals.scss";
div.auth-modal-container {
  background-color: #000;
  width: 430px;
  height: 50%;
  padding: 50px 30px;
  border-radius: 16px;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 1px solid $border-color;
  gap: 20px;

  div.input-container {
    gap: 30px;
    div.input-content {
      p {
        margin-bottom: 5px;
      }
    }
  }

  div.button-content {
    gap: 10px;
    div.button-container {
      gap: 20px;
      button {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 0.5px solid $border-color;
        border-radius: 8px;
        &:hover {
          background-color: $point-color;
          border: 0.5px solid $point-color;
          color: $bg-color;
          font-weight: 700;
        }
      }
    }

    button.change-button {
      font-size: 12px;
      height: fit-content;
      width: fit-content;
      color: rgba(#eaeaea, 0.7);
      &:hover {
        color: $point-color;
        font-weight: 700;
      }
    }
  }
}
