@import "@/styles/globals.scss";

div.folder-item {
  div.text-container {
    background-image: url("/label.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: fit-content;
    gap: 5px;
    top: 30%;
    right: 10%;
    transform: translateY(-30%);
    p {
      padding-left: 5px;
      font-size: 12px;
      line-height: 1.1;
      width: 70%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
