@import "@/styles/globals.scss";

div.detail-page {
  // background-color: #fff;
  padding-top: 50px;
  button.back-button {
    right: 50px;
    top: 60px;
    &:hover {
      color: $point-color;
    }
  }

  div.detail-container {
    background-color: #000;
    padding: 20px 10px;
    border-radius: 8px;
    div.perforation {
      width: 100%;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        width: 12px;
        height: 20px;
        border-radius: 4px;
        background-color: $text-color;
      }
    }
  }

  div.button-container {
    gap: 30px;
    button {
      background-color: $bg-color;
      color: $text-color;
      width: 200px;
      height: 50px;
      border-radius: 8px;
      // 임시
      border: 1px solid $border-color;
      cursor: pointer;
      &:hover {
        background-color: $point-color;
        color: $sub-color;
      }

      &.remove-button {
        &:hover {
          background-color: $danger-color;
        }
      }
    }
  }
}
