@import "@/styles/globals.scss";

div.detail-page {
  padding-top: 50px;
  button.back-button {
    right: 50px;
    top: 60px;
    &:hover {
      color: $point-color;
    }
  }

  div.detail-container {
    background-color: #000;
    padding: 20px 10px;
    border-radius: 8px;
    gap: 20px;
    div.perforation {
      width: 100%;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        width: 12px;
        height: 20px;
        border-radius: 4px;
        background-color: $text-color;
      }
    }

    div.detail-contents {
      background-color: $text-color;
      border-radius: 8px;
      overflow: hidden;
      padding: 10px 0;

      div.main-image-container {
        width: 1000px;
        div.swiper-slide {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        img {
          width: fit-content;
          height: 400px;
          max-height: 400px;
        }
      }

      div.all-images-container {
        height: 50px;
        div.image-item {
          width: 50px;
          height: 50px;
          cursor: pointer;
          &.active {
            border: 1px solid $point-color;
          }
          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      div.folder-description-container {
        width: 1000px;
        height: 200px;
        color: $sub-color;
        border-radius: 8px;
        box-shadow: 1px 2px 3px 0px rgba(#0f0f0f, 0.7);
        padding: 5px;
      }

      div.button-container {
        gap: 30px;
        button {
          background-color: $bg-color;
          color: $text-color;
          width: 200px;
          height: 50px;
          border-radius: 8px;
          // 임시
          border: 1px solid $border-color;
          cursor: pointer;
          &:hover {
            background-color: $point-color;
            color: $sub-color;
          }

          &.remove-button {
            &:hover {
              background-color: $danger-color;
            }
          }
        }
      }
    }
  }
}
