@import "tailwindcss";

// Color Palette
// * Background : #0F0F0F
// * Sub : #181818
// * Border : #2A2A2A
// * Text : #EAEAEA
// * Point : #E5A134

:root {
  --background: #0f0f0f;
  --sub: #181818;
  --border: #2a2a2a;
  --text: #eaeaea;
  --point: #e5a134;
}

$bg-color: var(--background);
$sub-color: var(--sub);
$border-color: var(--border);
$text-color: var(--text);
$point-color: var(--point);

body {
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}
