@import "@/styles/globals.scss";

div.modify-page {
  background-color: $sub-color;
  div.modify-container {
    background-color: #000;
    padding: 20px 10px;
    border-radius: 8px;
    div.perforation {
      width: 100%;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        width: 12px;
        height: 20px;
        border-radius: 4px;
        background-color: $text-color;
      }
    }

    div.contents-container {
      div.contents {
        background-color: $text-color;
        color: $sub-color;
        padding-bottom: 10px;

        div.preview-content {
          width: 100%;
          height: 328px;
          overflow: hidden;
          border-bottom: 0.5px solid #000;
          .swiper-slide {
            padding: 30px;
            img {
              object-fit: contain;
            }
          }
          .swiper-slide-shadow {
            background-color: unset;
          }
        }

        div.image-list-content {
          width: 100%;
          height: calc(100% - 388px);
          margin-bottom: 10px;
          overflow: scroll;
          padding: 0 10px;
        }

        div.content {
          padding: 0 5px;
          display: flex;
          flex-direction: column;
          gap: 5px;

          details {
            .day-picker {
              width: calc(100% - 10px);
              position: absolute;
              background-color: $text-color;
              border: 1px solid $border-color;
              padding: 0 20px;
              display: flex;
              justify-content: center;
              button.selected-button {
                position: absolute;
                bottom: 10px;
                right: 10px;
                &:hover {
                  color: $point-color;
                  font-weight: 700;
                }
              }
            }
            summary::-webkit-details-marker {
              display: none;
            }
          }

          p.date-range {
            padding-left: 10px;
          }
        }

        div.button-content {
          gap: 30px;
          button {
            background-color: $bg-color;
            color: $text-color;
            width: 200px;
            height: 50px;
            border-radius: 8px;
            cursor: pointer;
            &:hover {
              background-color: $point-color;
              color: $sub-color;
            }
          }
        }
      }
    }
  }
}
