@import "@/styles/globals.scss";

div.upload-page {
  background-color: $sub-color;
  div.upload-container {
    background-color: black;
    padding: 20px 10px;
    border-radius: 8px;
    div.perforation {
      width: 100%;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        width: 12px;
        height: 20px;
        border-radius: 4px;
        background-color: $text-color;
      }
    }

    div.contents-container {
      div.content {
        background-color: $text-color;
        color: $sub-color;
        &:first-child {
          // background-color: bisque;
        }

        div.preview-content {
        }

        div.image-list-content {
        }

        div.button-content {
          gap: 30px;
          button {
            background-color: $bg-color;
            color: $text-color;
            width: 200px;
            height: 50px;
            border-radius: 8px;
            cursor: pointer;
            &:hover {
              background-color: $point-color;
              color: $sub-color;
            }
          }
        }
      }
    }
  }
}
