@import "@/styles/globals.scss";

div.upload-page {
  div.upload-container {
    background-color: $sub-color;
    div.perforation {
      width: 100%;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      // background-color: red;

      p {
        width: 12px;
        height: 20px;
        border-radius: 4px;
        background-color: $text-color;
      }
    }
  }
}
